# Ignorar archivo de entorno con variables sensibles del frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.env.*

/backend-movieflow/node_modules/
/backend-movieflow/.env
/backend-movieflow/.env.*

# runtime que SÍ tienes
/backend-movieflow/uploads/*
!/backend-movieflow/uploads/**


# ===== Generales =====
/node_modules/
/.env
/.env.*
*.log
npm-debug.log*
yarn-*.log*
pnpm-debug.log*
.DS_Store
Thumbs.db

# Ignorar credenciales Firebase en cualquier carpeta
firebaseServiceAccount.json
firebase*.json

